<!DOCTYPE html>
<html lang="mg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% if page.title %}
            {{ page.title }} | Tsianjery 52 Taona 2026
        {% else %}
            Tsianjery 52 Taona 2026
        {% endif %}
    </title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>

<header>

    <div class="site-header">
        <h1>🌿 Tsianjery 52 Taona 2026</h1>
    </div>

    <nav class="navigation">

        <a href="{{ '/' | relative_url }}">🏠 Home</a>

        {% if page.previous %}
            <a href="{{ page.previous }}">◀ Previous</a>
        {% else %}
            <span></span>
        {% endif %}

        {% if page.next %}
            <a href="{{ page.next }}">Next ▶</a>
        {% else %}
            <span></span>
        {% endif %}

    </nav>

</header>

<main>

{% unless page.url == "/" %}

<h1>{{ page.title }}</h1>

{% if page.subtitle %}
<h2>{{ page.subtitle }}</h2>
{% endif %}

{% endunless %}

{{ content }}

</main>

<footer>

<nav class="navigation">

    <a href="{{ '/' | relative_url }}">🏠 Home</a>

    {% if page.previous %}
        <a href="{{ page.previous }}">◀ Previous</a>
    {% else %}
        <span></span>
    {% endif %}

    {% if page.next %}
        <a href="{{ page.next }}">Next ▶</a>
    {% else %}
        <span></span>
    {% endif %}

</nav>

<p>

© 2026 Tsianjery

</p>

</footer>

</body>
</html>
