<!DOCTYPE html>
<html lang="mg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>

<header>
    <h1>🌿 Tsianjery 52 Taona 2026</h1>

    <nav class="topnav">
        <a href="{{ '/' | relative_url }}">🏠 Home</a>
    </nav>
</header>

<main>

{% unless page.url == "/" %}

{% if page.title %}
<h1>{{ page.title }}</h1>
{% endif %}

{% if page.subtitle %}
<h2>{{ page.subtitle }}</h2>
{% endif %}

{% endunless %}

{{ content }}

</main>

<hr>

<footer>
    <p style="text-align:center;">
        © 2026 Tsianjery
    </p>
</footer>

</body>
</html>
